<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <script src="https://kit.fontawesome.com/d9b9f84503.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/feed.css" />
    <link rel="stylesheet" href="~/css/edit_perfil.css">
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/cadastro.css">
</head>
<body>
    
    
    
     @RenderBody()
    
    

    <footer>
            <span>Copyright ₢ 2021 - Escola Senai de informática</span>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
