<header>
    <div class="container_header">
        <img class="logo" src="~/img/Instadev.png" alt="Logo">
        <div class="container_nav">
            <form>
                <input class="pesquisar" type="text" name="" placeholder="Pesquisar">
                <button type="submit"> <i class="fas fa-search"></i> </button>
            </form>

            <nav>
                <ul class="lista_logos">
                    <li> <a> <i class="fas fa-home logos_header"></i> </li> </a>
                    <li> <a> <i class="far fa-paper-plane logos_header"></i>  </li> </a>
                    <li> <a> <i class="far fa-compass logos_header"></i> </li> </a>
                    <li> <a> <i class="far fa-heart logos_header"></i> </li> </a>
                    <li> <a> <img class="usuario_foto logos_header" src="~/img/usuario_exemplo.png" alt="Foto do Usuario"> </li> </a>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="posicionando_aside">
    <main class="feed_main">
        <div class="container_feed">
            <section class="perfis">
                <div class="container_perfis">
                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/vin-diesel.png" alt="usuario">
                        <p class="nome_usuario_story">Vin Diesel</p>
                    </div>

                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/gabigordo.png" alt="usuario">
                        <p class="nome_usuario_story">Gabigordo</p>
                    </div>

                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/will-baiano.png" alt="usuario">
                        <p class="nome_usuario_story">Will-baiano</p>
                    </div>
                    
                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/tony_stark.png" alt="usuario">
                        <p class="nome_usuario_story">Tony_stark</p>
                    </div>

                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/pele.png" alt="usuario">
                        <p class="nome_usuario_story">King_pele</p>
                    </div>

                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/samuel-rosa-bebe.png" alt="usuario">
                        <p class="nome_usuario_story">Samuel_Rosa</p>
                    </div>

                    <div class="container_perfis_colunas">
                        <img class="imagem_story" src="./img/chaves_metal.png" alt="usuario">
                        <p class="nome_usuario_story">chaves_metal</p>
                    </div>
                    
                </div>
            </section>

            <section class="feed_postar">
                <div class="container_postar">
                    <div class="titulo_post">
                        <img src="./img/usuario_exemplo.png" alt="Usuario">
                        <p>Postar</p>
                    </div>
                    <form class="postar_foto">
                        <input class="descricao_post" type="text" name="" placeholder="Digite a descrição da imagem...">
                        <label class="upload_imagem" for='escolha_imagem'>Escolha a imagem</label>
                        <input id="escolha_imagem" type="file" name="">
                        <button class="feed_btn_postar" type="submit">Postar</button>
                    </form>
                </div>
            </section>

            <section class="post">
                <div class="header_post">
                    <img class="user_post" src="./img/gabigordo.png" alt="Usuario">
                    <div class="header_post_textos">
                        <p class="nome_usuario">gabigordo</p>
                        <p class="localizacao_usuario">Flamengo, RJ</p>
                    </div>
                </div>
                <img class="imagem_post" src="./img/post-exemplo.png" alt="Post">

                <div class="comentario">
                    <div class="interacao_post">
                        <i class="far fa-heart logos_comentario"></i>
                        <i class="far fa-comment logos_comentario"></i>
                        <form>
                            <input class="input_comentar" type="text" name="" placeholder="Comentar...">
                        </form>
                    </div>

                    <span class="curtidas">2700 curtidas</span>
                    <p class="mensagem_comentario"> <span class="usuario_comentario">gabigordo</span> Amo vocês mil milhões </p>
                    <p class="mensagem_comentario"> <span class="usuario_comentario">yes_baby</span> thank you</p>
                    <p class="mensagem_comentario"> <span class="usuario_comentario">king_pele</span> Esses são bons de bola, entende? </p>
                </div>
            </section>
        </div>

    </main>

    <aside class="aside_feed">
        <div class="container_aside">
            <img class="imagem_usuario_aside" src="./img/thank-you.png" alt="Usuario">
            <div class="textos_aside">
                <p class="usuario_aside">yes_baby</p>
                <p class="nome_usuario_aside">Marcos Jeeves</p>
            </div>
        </div>
    </aside>
</div>